*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:linear-gradient(180deg,#7fd3ff,#52bdf4);

position:relative;

}

/* Awan */

.circle{

position:absolute;

background:rgba(255,255,255,.25);

border-radius:50%;

filter:blur(2px);

}

.one{

width:320px;

height:320px;

top:-70px;

left:-90px;

}

.two{

width:250px;

height:250px;

right:-70px;

top:30px;

}

.three{

width:280px;

height:280px;

bottom:-80px;

right:-60px;

}

.four{

width:180px;

height:180px;

bottom:100px;

left:-50px;

}

.login-box{

width:360px;

padding:45px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:0 10px 35px rgba(0,0,0,.2);

text-align:center;

z-index:5;

}

.icon{

font-size:55px;

margin-bottom:10px;

}

.login-box h2{

font-weight:500;

margin-bottom:25px;

color:#184e77;

}

input{

width:100%;

padding:15px;

margin-bottom:18px;

border:none;

outline:none;

border-radius:30px;

background:white;

font-size:15px;

box-shadow:0 5px 10px rgba(0,0,0,.15);

}

.forgot{

display:block;

margin-bottom:25px;

text-decoration:none;

color:#184e77;

font-size:14px;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:#0b4f8a;

color:white;

font-size:20px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#083d69;

transform:translateY(-3px);

}

.register{

margin-top:20px;

font-size:14px;

}

.register a{

text-decoration:none;

font-weight:bold;

color:#0b4f8a;

}

@media(max-width:500px){

.login-box{

width:90%;

padding:35px 25px;

}

}
.register-box{
    width:420px;
    padding:40px;
}

.register-box input{
    margin-bottom:15px;
}

.register-box button{
    margin-top:10px;
}